# Android Studio
*.iml
.idea/
.gradle/
build/
.cxx/
captures/
.externalNativeBuild/
.DS_Store

# Configuración local
local.properties

# Archivos específicos de la carpeta .idea
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Firebase - NUNCA subir este archivo
app/google-services.json

# Otros archivos no deseados
*.log
*.tmp
